{% load static %}
<section class="snap-sec" id="sec-podcast" aria-label="Аудиоподкаст">
  <div class="snap-sec-inner">
    <div class="podcast-container">
      
      <div class="podcast-header-basic">
        <h2 class="kclc-section-title">АУДИОПОДКАСТ ПРОПОВЕДЕЙ</h2>
        <div class="podcast-header-accent"></div>
      </div>

      <div class="podcast-embed-wrap">
        <iframe class="podcast-iframe" loading="lazy" src="https://podster.fm/new/player/large?episode=&modalPage=podcast&podcast=46787&playerType=podcast&showList=true&order=new&episodesCount=5&collection=undefined&theme=dark&showPlayerCode=hide&showAuditions=hide&showDownload=hide&iframeStyles=%7B%22borderRadius%22%3A%2215px%22%2C%22width%22%3A%22100%25%22%7D&page=1" width="100%" style="border: unset; outline: 0; background: transparent; border-radius: 15px"></iframe>
      </div>

    </div>
  </div>
</section>
